body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 * {
   box-sizing: border-box;
 }

.wrapper {
  border: 10px solid lightgray;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
}

.first-line {
  font-size: 36px;
  padding-bottom: 12px;
}

.second-line {
  font-size: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: lightskyblue;
  border: 2px solid darkslateblue;
  border-radius: 10px;
  padding: 20px;
  width: 30vw;
}

.input {
  margin-bottom: 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 3px 5px;
}

.input:focus {
    outline: 2px solid lightslategray;
}

.button {
  border: none;
  background-color: darkslateblue;
  border-radius: 5px;
  color: white;
  height: 30px;
  cursor: pointer;
}